@charset "UTF-8";

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
    background-color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-image: url('../imagens/pexels-thisisengineering-3913025.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    border-radius: 20px;
}

main h1 {
    text-align: center;
    font-weight: bolder;
    margin: 10px;
}

main p {
    margin: 5px;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

main label {
    margin-top: 10px;
    margin: 5px;
}

#ilogin, #isenha {
    height: 30px;
    transform: translate(-4px, -7px);
}


 
label {
    display: block;
}

section {
    background-color: white;
    margin-top: 300px;
    height: 300px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 0;
}

.material-symbols-outlined {
    background-color: var(--cor2);
    color: white;
    padding: 5px;
    border-radius: 10px 0 0 10px;
}

