@charset "UTF-8";

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
    background-color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    background-image: url('../imagens/pexels-thisisengineering-3913025.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    border-radius: 20px;
}

main h1 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
    padding: 0;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

main label {
    margin-top: 10px;
    margin: 5px;
}

#ilogin, #isenha {
    height: 22px;
    transform: translate(-4px, -7px);
}

input#isenha, input#ilogin {
    width: 200px;
    margin: auto;
    border-radius: 0 10px 10px 0;
    border: 3px solid #5f2c82;
    padding: 3px;
}

input#ienviar {
    width: 100%;
    background-color: #49a09d;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
}

input#iesqueci {
    width: 100%;
    background-color: #ffffff;
    color: var(--cor1);
    border: none;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid var(--cor1);
    
}
 
label {
    display: block;
    padding: 0;
}

section {
    background-color: white;
    margin-top: 300px;
    height: 300px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
}

.material-symbols-outlined {
    background-color: var(--cor2);
    color: white;
    padding: 5px;
    border-radius: 10px 0 0 10px;
}

